# Virtual Environment
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Database
*.sqlite3

# Temporary
temp/